<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/ls.css">
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/user" method="post">
      <!-- <label>Full Name</label>
      <input type="text" required name="name" />
      <label>Email</label>
      <input type="text" required name="email" />
      <label>Password</label>
      <input type="text" required name="password" />

      <button type="submit">Signup</button> -->
      
  <div class="l-login">
    <div class="square blue-dark left-bottom hu_hu_animation ">
    </div>
    <div class="square red top-right hu__hu_r_ ">
    </div>
    <div class="l-login__form">
      <img  class="l-login__form-logo zoomInDown" src="/logo.png" alt="Company Logo" />
      <div class="material-input__group">
        <i class="mdi mdi-account"></i>
        <input type="text" class="material-input__group__input iconic" required name="name">
        <span class="material-input__group__highlight"></span>
        <span class="material-input__group-bar"></span>
        <label class="material-input__group__label iconic">Username</label>
      </div>
      <div class="material-input__group">
        <i class="mdi mdi-account"></i>
        <input type="text" class="material-input__group__input iconic" required name="email">
        <span class="material-input__group__highlight"></span>
        <span class="material-input__group-bar"></span>
        <label class="material-input__group__label iconic">Email</label>
      </div>
      <div class="material-input__group">
        <i class="mdi mdi-account"></i>
        <input type="text" class="material-input__group__input iconic" required name="password">
        <span class="material-input__group__highlight"></span>
        <span class="material-input__group-bar"></span>
        <label class="material-input__group__label iconic">Password</label>
      </div>
      <button type="submit" class="l-login__form__button"> <span >Signup</span>
        <svg version="1.1" class="progress-svg circular-loader speed-normal"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80" height="80"
          viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve" style="display:none">
          <path d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
          </path>
        </svg>
      </button>
      <p><a href="/login" class="switch">I have an account</a></p>
    </div>
    <div class="c-wind-turbine big">
      <div class="c-wind-turbine__inner">
        <svg version="1.1" id="Capa_1" class="c-wind-turbine__propeller big" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <circle style="fill:transparent;" cx="25" cy="25" r="25"/>
          <polyline style="fill:none;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16"/>
          <polyline style="fill:none;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34"/>
          <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
        </svg>
        <svg version="1.1" id="Capa_1_poll" class="c-wind-turbine__poll big" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="100" height="225" width="554.625px" height="554.625px" viewBox="0 0 554.625 554.625"
          style="enable-background:new 0 0 554.625 554.625;" xml:space="preserve">
          <g>
            <polygon points="293.772,554.625 280.222,258.188 265.486,258.188 253.925,554.625"/>
            <circle cx="273.853" cy="212.766" r="19.823"/>
          </g>
          <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
        </svg>
     </div>
    </div>
    <div class="c-wind-turbine">
      <div class="c-wind-turbine__inner">
        <svg version="1.1" id="Capa_1" class="c-wind-turbine__propeller" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <circle style="fill:transparent;" cx="25" cy="25" r="25"/>
          <polyline style="fill:none;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16"/>
          <polyline style="fill:none;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34"/>
          <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
        </svg>
        <svg version="1.1" id="Capa_1_poll" class="c-wind-turbine__poll" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="100" height="225" width="554.625px" height="554.625px" viewBox="0 0 554.625 554.625"
          style="enable-background:new 0 0 554.625 554.625;" xml:space="preserve">
          <g>
            <polygon points="293.772,554.625 280.222,258.188 265.486,258.188 253.925,554.625 	"/>
            <circle cx="273.853" cy="212.766" r="19.823"/>
          </g>
          <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
        </svg>
     </div>
    </div>
  </div>

    </form>
  </body>
</html>
