@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(
    225deg,
    hsla(211, 96%, 62%, 1) 0%,
    hsla(295, 94%, 76%, 1) 100%
  );
  background: -moz-linear-gradient(
    225deg,
    hsla(211, 96%, 62%, 1) 0%,
    hsla(295, 94%, 76%, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    hsla(211, 96%, 62%, 1) 0%,
    hsla(295, 94%, 76%, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-size: 3rem;
}
.info {
  font-size: 1.5rem;
  color: black;
  padding:20px;
}
.container {
  position: relative;
  height: 200px;
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.ele {
  position: absolute;
  top: 50px;
  padding: 20px;
}
.input {
  width: 280px;
  height: 30px;
  padding-left: 10px;
}
.btn {
  height: 30px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  width: 60px;
}
.btn:hover {
  cursor: pointer;
  color: gray;
}
.output {
  margin-top: 20px;
  border-radius: 10px;
  color: #1a1a1a;
  padding-left: 10px;
}
